<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="/Content/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">


</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="game">Game</a>
        <a href="contact">Contact</a>
    </div>
    <h1>About Me</h1>

    <div class="face">        
    </div>

    <div class="aboutme">
    <p>Welcome to my page! </p> 
    <p>I’m currently a software engineering student!</p>
    <p>I believe in the power of programming to create impactful solutions.</p>
    <p>I’m excited to bring my problem-solving mindset and technical skills to future projects and collaborations. </p> 
    <p>Stay tuned for updates on my journey through the world of software development!</p>
    <a href="/Assets/Mao_Tabuchi_Resume.pdf" download="Resume" class="resume-button">My Resume</a>

    </div>

</body>
</html>


   